[Desktop Entry]
Comment=
Exec=sh -c 'sudo virsh start win10 && /opt/looking-glass-client egl:preset=1 || notify-send "failed to start vm"'
GenericName=
Icon=system-run
MimeType=
Name=startgvm
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
