[Desktop Entry]
Comment=
Exec=sh -c 'sudo virsh shutdown win10 && killall looking-glass-client || notify-send "failed to stop vm"'
GenericName=
Icon=system-run
MimeType=
Name=stopgvm
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
